USE [master]
GO

-- Drop database if it exists (for clean reinstall)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'TradingApp')
BEGIN
    ALTER DATABASE [TradingApp] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [TradingApp];
END
GO

-- Create database (SQL Server uses default file locations)
CREATE DATABASE [TradingApp]
GO

USE [TradingApp]
GO

/****** Object:  Table [dbo].[DeadLetterLogs] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeadLetterLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[ClientOrderId] [uniqueidentifier] NOT NULL,
	[MessageBody] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[Category] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[IsResolved] [bit] NOT NULL,
	[ResolutionNotes] [nvarchar](2000) NULL,
	[ResolvedAt] [datetimeoffset](7) NULL,
	[ResolvedBy] [nvarchar](200) NULL,
	[CorrelationId] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Orders] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[ClientOrderId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[IsProcessed] [bit] NOT NULL,
	[CorrelationId] [nvarchar](100) NOT NULL DEFAULT '',
	[ClaimedBy] [nvarchar](100) NULL,
	[ClaimedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Orders_ClientOrderId] UNIQUE NONCLUSTERED 
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[OutboxMessages] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutboxMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](200) NOT NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ProcessedAt] [datetimeoffset](7) NULL,
	[RetryCount] [int] NOT NULL,
	[RetryReason] [int] NOT NULL,
	[LastError] [nvarchar](2000) NULL,
	[CorrelationId] [nvarchar](100) NOT NULL DEFAULT '',
	[ClaimedBy] [nvarchar](100) NULL,
	[ClaimedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[QuarantinedOutboxMessages] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuarantinedOutboxMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[OriginalOutboxMessageId] [uniqueidentifier] NOT NULL,
	[ClientOrderId] [uniqueidentifier] NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[Reason] [int] NOT NULL,
	[FinalRetryCount] [int] NOT NULL,
	[ErrorMessage] [nvarchar](2000) NULL,
	[QuarantinedAt] [datetimeoffset](7) NOT NULL,
	[IsResurrected] [bit] NOT NULL,
	[ResurrectedAt] [datetimeoffset](7) NULL,
	[IsDiscarded] [bit] NOT NULL,
	[DiscardedAt] [datetimeoffset](7) NULL,
	[DiscardedBy] [nvarchar](200) NULL,
	[ResolutionNotes] [nvarchar](2000) NULL,
	[CorrelationId] [nvarchar](100) NOT NULL DEFAULT '',
	[ClaimedBy] [nvarchar](100) NULL,
	[ClaimedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[UnpublishedTopicMessages] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnpublishedTopicMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[ClientOrderId] [uniqueidentifier] NOT NULL,
	[EventType] [nvarchar](100) NOT NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[PublishedAt] [datetimeoffset](7) NULL,
	[RetryCount] [int] NOT NULL,
	[LastError] [nvarchar](2000) NULL,
	[CorrelationId] [nvarchar](100) NOT NULL DEFAULT '',
	[ClaimedBy] [nvarchar](100) NULL,
	[ClaimedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[OrderNotificationSequences] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderNotificationSequences](
	[ClientOrderId] [uniqueidentifier] NOT NULL,
	[LastProcessedSequence] [int] NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[PendingFilledNotifications] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingFilledNotifications](
	[ClientOrderId] [uniqueidentifier] NOT NULL,
	[EventPayload] [nvarchar](max) NOT NULL,
	[CorrelationId] [nvarchar](100) NOT NULL,
	[StoredAt] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Conversations] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [uniqueidentifier] NOT NULL,
	[ClientRequestId] [uniqueidentifier] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NULL,
	[CompactedSummary] [nvarchar](max) NULL,
	[SummaryCoversMessagesUpTo] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Index [UQ_Conversations_ClientRequestId] ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Conversations_ClientRequestId] ON [dbo].[Conversations]
(
	[ClientRequestId] ASC
)WHERE ([ClientRequestId] IS NOT NULL) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ConversationMessages] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[ConversationId] [uniqueidentifier] NOT NULL,
	[ClientRequestId] [uniqueidentifier] NULL,
	[Role] [int] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Index [UQ_ConversationMessages_ConversationId_ClientRequestId] ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ConversationMessages_ConversationId_ClientRequestId] ON [dbo].[ConversationMessages]
(
	[ConversationId] ASC,
	[ClientRequestId] ASC
)WHERE ([ClientRequestId] IS NOT NULL) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ConversationChunks] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationChunks](
	[Id] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](200) NOT NULL,
	[ConversationId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SourceFile] [nvarchar](500) NOT NULL,
	[RelevanceScore] [float] NOT NULL,
	[ChunkIndex] [int] NOT NULL,
	[TotalChunkCount] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ConversationChunks_ConversationId_Key] UNIQUE NONCLUSTERED 
(
	[ConversationId] ASC,
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ConversationFullFiles] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationFullFiles](
	[Id] [uniqueidentifier] NOT NULL,
	[ConversationId] [uniqueidentifier] NOT NULL,
	[SourceFile] [nvarchar](500) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ConversationFullFiles_ConversationId_SourceFile] UNIQUE NONCLUSTERED 
(
	[ConversationId] ASC,
	[SourceFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Indexes ******/
CREATE NONCLUSTERED INDEX [IX_DeadLetterLogs_ClientOrderId] ON [dbo].[DeadLetterLogs]
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_DeadLetterLogs_CreatedAt] ON [dbo].[DeadLetterLogs]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_DeadLetterLogs_IsResolved] ON [dbo].[DeadLetterLogs]
(
	[IsResolved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_DeadLetterLogs_CorrelationId] ON [dbo].[DeadLetterLogs]
(
	[CorrelationId] ASC
)
WHERE ([CorrelationId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [UX_Orders_ClientOrderId] ON [dbo].[Orders]
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Orders_CorrelationId] ON [dbo].[Orders]
(
	[CorrelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_OutboxMessages_Unprocessed] ON [dbo].[OutboxMessages]
(
	[CreatedAt] ASC
)
INCLUDE([Type],[Payload]) 
WHERE ([ProcessedAt] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_OutboxMessages_CorrelationId] ON [dbo].[OutboxMessages]
(
	[CorrelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_QuarantinedOutboxMessages_ClientOrderId] ON [dbo].[QuarantinedOutboxMessages]
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_QuarantinedOutboxMessages_OriginalOutboxMessageId] ON [dbo].[QuarantinedOutboxMessages]
(
	[OriginalOutboxMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_QuarantinedOutboxMessages_CorrelationId] ON [dbo].[QuarantinedOutboxMessages]
(
	[CorrelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_UnpublishedTopicMessages_ClientOrderId] ON [dbo].[UnpublishedTopicMessages]
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_UnpublishedTopicMessages_CorrelationId] ON [dbo].[UnpublishedTopicMessages]
(
	[CorrelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_UnpublishedTopicMessages_EventType] ON [dbo].[UnpublishedTopicMessages]
(
	[EventType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_ConversationMessages_ConversationId] ON [dbo].[ConversationMessages]
(
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

/****** Default Constraints ******/
ALTER TABLE [dbo].[DeadLetterLogs] ADD DEFAULT ((0)) FOR [IsResolved]
GO

ALTER TABLE [dbo].[DeadLetterLogs] ADD DEFAULT ((0)) FOR [Category]
GO

ALTER TABLE [dbo].[Orders] ADD CONSTRAINT [DF_Orders_IsProcessed] DEFAULT ((0)) FOR [IsProcessed]
GO

ALTER TABLE [dbo].[OutboxMessages] ADD DEFAULT ((0)) FOR [RetryCount]
GO

ALTER TABLE [dbo].[OutboxMessages] ADD DEFAULT ((0)) FOR [RetryReason]
GO

ALTER TABLE [dbo].[QuarantinedOutboxMessages] ADD DEFAULT (newid()) FOR [Id]
GO

ALTER TABLE [dbo].[QuarantinedOutboxMessages] ADD DEFAULT ((0)) FOR [IsResurrected]
GO

ALTER TABLE [dbo].[QuarantinedOutboxMessages] ADD DEFAULT ((0)) FOR [IsDiscarded]
GO

ALTER TABLE [dbo].[UnpublishedTopicMessages] ADD DEFAULT (newid()) FOR [Id]
GO

ALTER TABLE [dbo].[UnpublishedTopicMessages] ADD DEFAULT ((0)) FOR [RetryCount]
GO

ALTER TABLE [dbo].[OrderNotificationSequences] ADD DEFAULT ((0)) FOR [LastProcessedSequence]
GO

PRINT 'TradingApp database created successfully!'
GO